body {
    font-family: "Inter", "Segoe UI", "Arial", sans-serif;
    margin: 0;
    background-color: #ddd;
}

header {
    padding: 1em 2em;
    background-color: #cfc;
}

#content {
    margin: 2em;
    padding: 1em;
    background-color: #eee;
}

#disclaimer {
    color: #999;
    font-size: 0.8em;
}

#searchResults {
    margin: 1em 0;
    padding: 0;
}

.searchResult {
    padding: 0.5em;
    background-color: #fff;
    color: black;
    margin: 0.5em;
}


.searchResult > p {
    margin: 0;
    color: #666;
}

.searchResult > a {
    color: black;
    margin: 0;
    text-decoration: none;
}

.searchResult > a:visited {
    color: black;
    text-decoration: none;
}

.res_platform {
    font-style: italic;
}

.res_odd {
    background-color: #f2f2f2;
}

#betaHeader {
    color: orange;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
}

.tl_top, .tl_bottom {
    display: flex;
    justify-content: left;
}

.tl_bottom > p {
    margin: 0 1em;
}

.tl_shortname {
    padding: 0.7em;
    margin: 0;
    font-size: 1.1em;
    font-weight: bold;
    width: 2em;
    text-align: center;
}

.tl_deptime {
    margin: auto 1em;
    width: 3em;
    text-align: right;
}

.tl_destname {
    margin: auto 1em;
    text-decoration: none;
    color: inherit;
}

/* ENDLESS ROTATE */
.rotate{
    animation: rotate 1.5s linear infinite; 
}
@keyframes rotate{
    to { transform: rotate(360deg); }
}

