body {
    font-family: "Inter", "Segoe UI", "Arial", sans-serif;
    margin: 0;
    background-color: #ddd;
}

header {
    padding: 1em 2em;
    background-color: #cfc;
}

#content {
    margin: 2em;
    padding: 1em;
    background-color: #eee;
    font-size: 1.5em;
}

#disclaimer {
    color: #999;
    font-size: 0.5em;
}

#output {
    width: 50em;
    height: 10em;
}
