body {
    font-family: "Inter", "Segoe UI", "Arial", sans-serif;
    margin: 0;
    background-color: #ddd;
}

header {
    padding: 1em 2em;
    background-color: #cfc;
}

@media screen and (min-width: 820px) {
    #content {
        padding: 1em;
        background-color: #eee;
        width: 50em;
        margin: 2em auto;
    }
}

@media screen and (max-width: 821px) {
    #content {
        padding: 1em 0;
        background-color: #eee;
        margin: 2em auto;
    }
    .tl_rtbox {
        display: none;
    }
    
    .tl_destname {
        font-size: 0.87em;
    }
}

#disclaimer {
    color: #999;
    font-size: 0.8em;
}

#searchResults {
    margin: 0 0 1em 0;
    padding: 0;
}

.searchResult {
    padding: 0.5em;
    background-color: #fff;
    color: black;
    margin: 0.5em;
}

#tripList {
    height: 80vh;
    overflow: auto;
}

#tl_head {
    text-align: center;
}

#loading {
    text-align: center;
}

.warning {
    background-color: #f5948c;
    color: black;
    font-weight: bold;
    padding: 0.5em;
}

.searchResult > p {
    margin: 0;
    color: #666;
}

.searchResult > a {
    color: black;
    margin: 0;
    text-decoration: none;
}

.searchResult > a:visited {
    color: black;
    text-decoration: none;
}

.res_platform {
    font-style: italic;
}

.res_odd {
    background-color: #f2f2f2;
}

#betaHeader {
    color: orange;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
}

.tl_top, .tl_bottom {
    display: flex;
    justify-content: left;
}

.tl_bottom > p {
    margin: 0 1em 0 0.2em;
}

.tl_bottom {
    padding: 0.2em 0;
}

.tl_shortname {
    padding: 0.7em;
    margin: auto 0;
    font-size: 1.1em;
    font-weight: bold;
    min-width: 1.5em;
    max-width: 2.5em;
    text-align: center;
    flex-shrink: 0;
}

.tl_deptime {
    margin: 1em 0.5em;
    width: 3em;
    text-align: center;
    flex-shrink: 0;
}

.tl_destname {
    margin: auto 1em;
    text-decoration: none;
    color: inherit;
    flex-shrink: 1;
}

.tl_platform {
    margin: auto 1em auto auto;
    font-weight: bold;
}

/* ENDLESS ROTATE */
.rotate{
    animation: rotate 1.5s linear infinite; 
}
@keyframes rotate{
    to { transform: rotate(360deg); }
}

#map {
    width: 100%;
    height: 80vh;
}

.sl_name > a {
    color: black;
    text-decoration: none;
    margin: 0.2em 0.5em;
}

.sl_name {
    margin: 0.2em 0 0.4em 0;
}

.sl_box {
    display: flex;
    justify-content: left;
    padding: 0.2em 1em;
    background-color: #fff;
    color: black;
    margin: 0.5em;
}

.sl_dbox {
    display: flex;
    min-width: 5em;
    justify-content: right;
    flex-direction: column;
}

.sl_dbox > p {
    text-align: right;
    margin: 0.2em 0.5em;
}

.sl_dist {
    color: #666;
}

.sl_selstop {
    background-color: #ffffcc;
}

#tl_controls, #sl_top {
    display: flex;
    justify-content: space-between;
}

#tl_filter_p {
    display: none;
}

#tl_controls > p {
    margin: 0 1em;
}

#tl_filter_header {
    font-weight: bold;
}

#tl_tripcount {
    margin: 1em;
}

.tl_problem {
    font-weight: bold;
    color: #bc0000;
}

.sl_table {
    width: 100%;
    border-spacing: 0.2em;
}

.sl_table th {
    text-align: left;
}

.sl_table td {
    background-color: white;
    padding: 0.4em;
}

.sl_table td > a {
    color: black;
    text-decoration: none;
}

.sl_time {
    width: 5em;
    text-align: center;
}

.sl_table tr:nth-child(odd) > td {
    background-color: #f8f8f8;
}

#routeTableContainer {
    width: 100%;
    overflow-x: scroll;
}

.rt_stopname {
    width: fit-content;
}


#sl_ritnr {
    padding: 0.5em 0.2em;
}

#sl_maplink {
    background-color: white;
    padding: 0.5em 1em;
}

#sl_maplink > a {
    color: black;
    text-decoration: none;
}

#query {
    padding: 0.5em 0.5em 0.5em 2.2em;
    border: none;
    font-size: 1em;
    margin: 0.5em 0.2em;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAACfElEQVQ4T6WVSWsqURCFq50HDFERXQiCrtwoIVkoIoqY6F9WRHFAcSBkFwJxyCIrcR5w7ngKup+J/foRXoG02nW/Prfq3GpBPAddxPF4pMFgQKPRiNbrNd8xmUxkt9vJ5/Px93+FcAl9e3ujbrdLBoOBNBoNCYLA6/Hc0+lE+/2ePB4P3d3dqXJlaKvVoul0Snq9nhdAMUAIwHU6nfw/chKJxF/BDIXCj48PVijBAoEAOZ1OVoyHvb+/8z3AD4cD3d7e0sPDgyJYOCeIuVyOzGYzK0PNYrGYYvLz8zONx2MGbzYbikQiDP8ZwlmB2O/3SavVsoLHx0fVelUqFc5DnQG8v7+/hjabTXG5XLJKv9/PH7UYDof08vLCane7HWUymWtoqVRiA6Cz2M7NzY0qFHUtFApkNBq5BE9PT1z3yxCKxSL7FNBoNEo2m00VCgH5fF6GptNp2RnSQqFer4t4IuoUDAbJ6/WqQuEE2A+22m63lM1mr7f/+voqfn5+shexjWQyqQoFED1AWCwWLtlV91erlVgul9lSUOtyuSgcDiuC4dVer8d+RrlCoRC53e5rKLrU6XTY4OgokqEApXA4HLxgPp8TDshkMmGg1FjU82eTkC8f07ML5BMDe0G1dEyxED7GB0CUCldYKpVKyUdbbtTlQGk0GjSbzViNNEykREBgJ1zRJNyXhgz6AIspQvEnzI1JhXJIYCyGfzEPcIzxcFwlxXABBgz68m37Sp1BMuJSBX5jN2crXoHj8ThZrdY/NVX1kcLNxWJBtVrtGxh+h+JvQ/q3YPi1Wq3KYJQJDvovKETglYPJheYi+I3x8x31W7XIR+3b7TZ7HIP7CyW3kBK1t0SxAAAAAElFTkSuQmCC);
    background-position-x: 0.4em;
    background-position-y: 0.4em;
    background-repeat: no-repeat;
}

button {
    background-color: white;
    border: none;
    color: black;
    font-size: 1em;
    padding: 0.5em 1em;
    margin: 0.5em 0.2em;
    cursor: pointer;
}

button:disabled {
    color: #aaa;
    cursor: default;
}

#filterHideBtn {
    margin: 0;
    padding: 0.6em 0.2em;
    color: red;
    font-size: 0.9em;
}

#searchOption {
    padding: 0.5em 0.7em;
    background-color: white;
    border: none;
    color: black;
    font-size: 1em;
    margin: 0.5em 0.2em;
}