body {
    font-family: "Inter", "Segoe UI", "Arial", sans-serif;
    margin: 0;
    background-color: #ddd;
}

header {
    padding: 1em 2em;
    background-color: #cfc;
}

#content {
    margin: 2em;
    padding: 1em;
    background-color: #eee;
}

#disclaimer {
    color: #999;
    font-size: 0.8em;
}

#searchResults {
    margin: 1em 0;
}

.searchResult {
    padding: 1em;
    background-color: #fff;
    color: black;
}

.searchResult > p {
    margin: 0;
    color: #666;
}

.searchResult > a {
    color: black;
    margin: 0;
    text-decoration: none;
}

.searchResult > a:visited {
    color: black;
    text-decoration: none;
}

.res_platform {
    font-style: italic;
}

.res_odd {
    background-color: #f2f2f2;
}
