body {
    font-family: "Inter", "Segoe UI", "Arial", sans-serif;
    margin: 0;
    background-color: #ddd;
}

header {
    padding: 1em 2em;
    background-color: #cfc;
}

@media screen and (min-width: 820px) {
    #content {
        padding: 1em;
        background-color: #eee;
        width: 50em;
        margin: 2em auto;
    }
}

@media screen and (max-width: 821px) {
    #content {
        padding: 1em 0;
        background-color: #eee;
        margin: 2em auto;
    }
    .tl_rtbox {
        display: none;
    }
    
    .tl_destname {
        font-size: 0.87em;
    }
}

#disclaimer {
    color: #999;
    font-size: 0.8em;
}

#searchResults {
    margin: 1em 0;
    padding: 0;
}

.searchResult {
    padding: 0.5em;
    background-color: #fff;
    color: black;
    margin: 0.5em;
}

#tripList {
    height: 80vh;
    overflow: auto;
}

#tl_head {
    text-align: center;
}

#loading {
    text-align: center;
}

.warning {
    background-color: #f5948c;
    color: black;
    font-weight: bold;
    padding: 0.5em;
}

.searchResult > p {
    margin: 0;
    color: #666;
}

.searchResult > a {
    color: black;
    margin: 0;
    text-decoration: none;
}

.searchResult > a:visited {
    color: black;
    text-decoration: none;
}

.res_platform {
    font-style: italic;
}

.res_odd {
    background-color: #f2f2f2;
}

#betaHeader {
    color: orange;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
}

.tl_top, .tl_bottom {
    display: flex;
    justify-content: left;
}

.tl_bottom > p {
    margin: 0 1em 0 0.2em;
}

.tl_bottom {
    padding: 0.2em 0;
}

.tl_shortname {
    padding: 0.7em;
    margin: auto 0;
    font-size: 1.1em;
    font-weight: bold;
    min-width: 1.5em;
    max-width: 2.5em;
    text-align: center;
    flex-shrink: 0;
}

.tl_deptime {
    margin: 1em 0.5em;
    width: 3em;
    text-align: center;
    flex-shrink: 0;
}

.tl_destname {
    margin: auto 1em;
    text-decoration: none;
    color: inherit;
    flex-shrink: 1;
}

/* ENDLESS ROTATE */
.rotate{
    animation: rotate 1.5s linear infinite; 
}
@keyframes rotate{
    to { transform: rotate(360deg); }
}

